body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://wallpaperaccess.com/full/3739441.jpg');
}

ul {
  gap: 36px;
  padding: 32px;
  display: flex;
}

ul li {
  list-style: none;
  animation: jumping 1.5s linear infinite;
}

@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

ul li:nth-child(1) {
  animation-delay: 0.45s;
}

ul li:nth-child(2) {
  animation-delay: 0.6s;
}

