body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #832c2c;
}

img {
  width: 250px;
  border-radius: 8px;
}

h1 {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 90px;
  letter-spacing: 15px;
  text-shadow: 0 1px 0 #e27070, 0 2px 0 #e27070, 0 3px 0 #e27070,
    0 4px 0 #e27070, 0 30px 5px rgba(0, 0, 0, 0.1);
  animation: float 3s linear infinite;
  animation-direction: alternate;
}

@keyframes float {
  from {
    transform: rotate(5deg);
  }

  to {
    transform: rotate(-5deg);
  }
}
