body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://i.ytimg.com/vi/QVge69zoZlY/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.pulse {
  width: 200px;
  height: 200px;
  background: rgb(120, 10, 198);
  background: radial-gradient(
    circle,
    rgba(120, 10, 198, 1) 0%,
    rgba(0, 2, 5, 1) 100%
  );
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse:before,
.pulse:after {
  content: "";
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border: 3px solid #8843e2;
  border-radius: 50%;
  animation: pulse 1.5s linear infinite;
}

.pulse:after {
  animation-delay: 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  25% {
    transform: scale(1.2);
    opacity: 1;
  }

  50% {
    transform: scale(1.4);
    opacity: 1;
  }
  75% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
